$obo-notistack-padding-x:               #{$alert-padding-x} !default;
$obo-notistack-padding-y:               #{$alert-padding-y} !default;
$obo-notistack-border-radius:           #{$alert-border-radius} !default;
$obo-notistack-shadow:                  #{$shadow2} !default;
$obo-notistack-link-color:              white !default;
$obo-notistack-link-hover-color:        #{$primary} !default;

$obo-password-icon-color:               #{$dark} !default;
$obo-password-icon-hover-color:         #{$primary} !default;

$obo-modal-padding:                     0 !default;
$obo-modal-body-padding:                0 !default;
$obo-modal-content-bg:                  #{$white} !default;
$obo-modal-border-color:                #{$border-color} !default;
$obo-modal-border-width:                0 !default;
$obo-modal-border-radius:               #{$border-radius} !default;
$obo-modal-box-shadow:                  #{$shadow1} !default;
$obo-modal-backdrop-bg:                 rgba(0,0,0,0.3) !default;
$obo-modal-zindex:                      2000 !default;

$obo-btn-padding-x:                     #{$btn-padding-x} !default;
$obo-btn-padding-y:                     #{$btn-padding-y} !default;
$obo-btn-border-radius:                 #{$btn-border-radius} !default;
$obo-btn-border-width:                  #{$btn-border-width} !default;
$obo-btn-border-color:                  transparent !default;
$obo-btn-line-height:                   #{$btn-line-height} !default;
$obo-btn-active-scale:                  #{$btn-active-scale} !default;
$obo-btn-active-scale-transition:       #{$btn-active-scale-transition} !default;

$drwr-transition:                       all 0.2s ease !default;
$drwr-shadow:                           $shadow1 !default;
$drwr-background:                       $white !default;
$drwr-padding:                          32px 32px !default;

$obo-grid-border-width:                 #{$table-border-width} !default;
$obo-grid-border-radius:                #{$border-radius} !default;
$obo-grid-border-color:                 #{$table-border-color} !default;
$obo-grid-form-check-input-border-radius: #{$form-check-input-border-radius} !default;
$obo-grid-form-check-input-border:      #{$form-check-input-border} !default;
$obo-grid-form-check-transition:        #{$form-check-transition} !default;
$obo-grid-form-check-input-width:       #{$form-check-input-width} !default;
$obo-grid-form-check-input-bg:          #{$form-check-input-bg} !default;

$obo-dropdown-zindex:                   #{$zindex-dropdown} !default;
$obo-dropdown-min-width:                #{$dropdown-min-width} !default;
$obo-dropdown-padding-x:                #{$dropdown-padding-x} !default;
$obo-dropdown-padding-y:                #{$dropdown-padding-y} !default;
$obo-dropdown-spacer:                   #{$dropdown-spacer} !default;
$obo-dropdown-font-size:                #{$dropdown-font-size} !default;
$obo-dropdown-color:                    #{$dropdown-color} !default;
$obo-dropdown-bg:                       #{$dropdown-bg} !default;
$obo-dropdown-border-color:             #{$dropdown-border-color} !default;
$obo-dropdown-border-radius:            #{$dropdown-border-radius} !default;
$obo-dropdown-border-width:             #{$dropdown-border-width} !default;
$obo-dropdown-box-shadow:               #{$dropdown-box-shadow} !default;
$obo-dropdown-item-padding-x:           #{$dropdown-item-padding-x} !default;
$obo-dropdown-item-padding-y:           #{$dropdown-item-padding-y} !default;

obo-dropdown
{
  --#{$prefix}dropdown-divider-bg: #{$dropdown-divider-bg};
  --#{$prefix}dropdown-divider-margin-y: #{$dropdown-divider-margin-y};
  --#{$prefix}dropdown-box-shadow: #{$dropdown-box-shadow};
  --#{$prefix}dropdown-link-color: #{$dropdown-link-color};
  --#{$prefix}dropdown-link-hover-color: #{$dropdown-link-hover-color};
  --#{$prefix}dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
  --#{$prefix}dropdown-link-active-color: #{$dropdown-link-active-color};
  --#{$prefix}dropdown-link-active-bg: #{$dropdown-link-active-bg};
  --#{$prefix}dropdown-link-disabled-color: #{$dropdown-link-disabled-color};
  --#{$prefix}dropdown-item-padding-x: #{$dropdown-item-padding-x};
  --#{$prefix}dropdown-item-padding-y: #{$dropdown-item-padding-y};
  --#{$prefix}dropdown-header-color: #{$dropdown-header-color};
  --#{$prefix}dropdown-header-padding-x: #{$dropdown-header-padding-x};
  --#{$prefix}dropdown-header-padding-y: #{$dropdown-header-padding-y};
}


:root {
    --obo-notistack-padding-x:          #{$obo-notistack-padding-x};
    --obo-notistack-padding-y:          #{$obo-notistack-padding-y};
    --obo-notistack-border-radius:      #{$obo-notistack-border-radius};
    --obo-notistack-shadow:         	#{$obo-notistack-shadow};
    --obo-notistack-link-color:         #{$obo-notistack-link-color};
    --obo-notistack-link-hover-color:   #{$obo-notistack-link-hover-color};

    --obo-password-icon-color:          #{$obo-password-icon-color};
    --obo-password-icon-hover-color:    #{$obo-password-icon-hover-color};

    --obo-modal-padding:                #{$obo-modal-padding};
    --obo-modal-body-padding:           #{$obo-modal-body-padding};
    --obo-modal-content-bg:             #{$obo-modal-content-bg};
    --obo-modal-border-color:           #{$obo-modal-border-color};
    --obo-modal-border-width:           #{$obo-modal-border-width};
    --obo-modal-border-radius:          #{$obo-modal-border-radius};
    --obo-modal-box-shadow:             #{$obo-modal-box-shadow};
    --obo-modal-backdrop-bg:            #{$obo-modal-backdrop-bg};
    --obo-modal-zindex:                 #{$obo-modal-zindex};

    --obo-btn-padding-x:                #{$obo-btn-padding-x};
    --obo-btn-padding-y:                #{$obo-btn-padding-y};
    --obo-btn-border-radius:            #{$obo-btn-border-radius};
    --obo-btn-border-width:             #{$obo-btn-border-width};
    --obo-btn-border-color:             #{$obo-btn-border-color};
    --obo-btn-line-height:              #{$obo-btn-line-height};
    --obo-btn-active-scale:             #{$obo-btn-active-scale};
    --obo-btn-active-scale-transition:  #{$obo-btn-active-scale-transition};

    --obo-grid-border-width:            #{$obo-grid-border-width};
    --obo-grid-border-radius:           #{$obo-grid-border-radius};
    --obo-grid-border-color:            #{$obo-grid-border-color};
    --obo-grid-form-check-input-border-radius: #{$obo-grid-form-check-input-border-radius};
    --obo-grid-form-check-input-border: #{$obo-grid-form-check-input-border};
    --obo-grid-form-check-transition:   #{$obo-grid-form-check-transition};
    --obo-grid-form-check-input-width:  #{$obo-grid-form-check-input-width};
    --obo-grid-form-check-input-bg:     #{$obo-grid-form-check-input-bg};

    --obo-dropdown-zindex:              #{$obo-dropdown-zindex};
    --obo-dropdown-min-width:           #{$obo-dropdown-min-width};
    --obo-dropdown-padding-x:           #{$obo-dropdown-padding-x};
    --obo-dropdown-padding-y:           #{$obo-dropdown-padding-y};
    --obo-dropdown-spacer:              #{$obo-dropdown-spacer};
    --obo-dropdown-font-size:           #{$obo-dropdown-font-size};
    --obo-dropdown-color:               #{$obo-dropdown-color};
    --obo-dropdown-bg:                  #{$obo-dropdown-bg};
    --obo-dropdown-border-color:        #{$obo-dropdown-border-color};
    --obo-dropdown-border-radius:       #{$obo-dropdown-border-radius};
    --obo-dropdown-border-width:        #{$obo-dropdown-border-width};
    --obo-dropdown-box-shadow:          #{$obo-dropdown-box-shadow};
    --obo-dropdown-item-padding-x:      #{$obo-dropdown-item-padding-x};
    --obo-dropdown-item-padding-y:      #{$obo-dropdown-item-padding-y};
}