.gridjs {
  &-td {
    .gridjs-checkbox {
      display: block;
      margin: auto;
      cursor: pointer;
    }
  }
}

.gridjs {
  &-td {
    .gridjs-checkbox {
  width: var(--obo-grid-form-check-input-width);
  height: var(--obo-grid-form-check-input-width);
  margin-top: calc(var(--bs-body-line-height) - var(--obo-grid-form-check-input-width) * .5); // line-height minus check height
  vertical-align: top;
  background-color: var(--obo-grid-form-check-input-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--obo-grid-form-check-input-border);
  appearance: none;
  color-adjust: exact; // Keep themed appearance for print
  transition: var(--obo-grid-form-check-transition);

  &[type="checkbox"] {
    border-radius: var(--obo-grid-form-check-input-border-radius);
  }

  &[type="radio"] {
    border-radius: 50%;
  }

  &:active {
    filter: $form-check-input-active-filter;
  }

  &:focus {
    border-color: $form-check-input-focus-border;
    outline: 0;
    box-shadow: $form-check-input-focus-box-shadow;
  }

  &:checked {
    background-color: $form-check-input-checked-bg-color;
    border-color: $form-check-input-checked-border-color;

    &[type="checkbox"] {
      background-image: escape-svg($form-check-input-checked-bg-image);
    }

    &[type="radio"] {
      background-image: escape-svg($form-check-radio-checked-bg-image);
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: $form-check-input-indeterminate-bg-color;
    border-color: $form-check-input-indeterminate-border-color;
    background-image: escape-svg($form-check-input-indeterminate-bg-image);
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: $form-check-input-disabled-opacity;
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity: $form-check-label-disabled-opacity;
    }
  }
}
}
}