@import 'colors';

.gridjs {
  &-footer {
    display: block;
    position: relative;
    z-index: 5;
    padding: 12px 24px;
    border-top: var(--obo-grid-border-width) solid var(--obo-grid-border-color);
    background-color: var(--bs-white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    border-radius: 0 0 var(--obo-grid-border-radius) var(--obo-grid-border-radius);
    border-bottom-width: 1px;
    border-color: var(--obo-grid-border-color);
  }

  &-footer:empty {
    padding: 0;
    border: none;
  }
}
