.gridjs {
  &-head {
    padding: 5px 1px;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &-head:empty {
    padding: 0;
    border: none;
  }
}

.gridjs {
  &-head {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:12px;
    align-items: center;
    :nth-child(2n)
    {
      justify-self: end;
    }
  }
}