@import 'colors.scss';
@import 'button.scss';
@import 'shadow.scss';
@import 'head.scss';
@import 'container.scss';
@import 'footer.scss';
@import 'input.scss';
@import 'pagination.scss';
@import 'sort.scss';
@import 'table.scss';
@import 'tbody.scss';
@import 'td.scss';
@import 'th.scss';
@import 'tr.scss';
@import 'thead.scss';
@import 'wrapper.scss';
@import 'search.scss';
@import 'loadingBar.scss';
@import 'checkbox.scss';
@import 'paginate.scss';

.grid-selected-box
{
    background:var(--bs-primary);
    position:fixed;
    bottom:0px;
    padding:16px 32px;
	left:0;
    color:white;
    width:calc(100%);
}