@import 'colors';

.gridjs-pagination {
  color: var(--bs-dark);

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .gridjs-summary {
    float: left;
    margin-top: 5px;
  }

  .gridjs-pages {
    float: right;

    button {
      padding: $pagination-padding-y $pagination-padding-x;
      border: $pagination-border-width solid $pagination-border-color;
      background-color: $pagination-bg;
      border-right: none;
      outline: none;
      user-select: none;
      color:$pagination-color;
    }

    // button:focus {
    //   color:$pagination-focus-color;
    //   background-color:$pagination-focus-bg;
    //   box-shadow:$pagination-focus-box-shadow;
    //   outline:$pagination-focus-outline;
    //   z-index:1500;
    // }

    button:hover {
      background-color: $pagination-hover-bg;
      color: $pagination-hover-color;
      border-color:$pagination-hover-border-color;
      outline: none;
    }

    button:disabled,
    button[disabled],
    button:hover:disabled {
      cursor: default;
      background-color: $pagination-disabled-bg;
      color: $pagination-disabled-color;
      border-color:$pagination-disabled-border-color;
    }

    button.gridjs-spread {
      cursor: default;
      box-shadow: none;
      background-color: var(--bs-white);
    }

    button.gridjs-currentPage {
      background-color: $pagination-active-bg;
      color:$pagination-active-color;
      border-color:$pagination-active-border-color;
    }

    button:last-child {
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      border-right: $pagination-border-width solid $pagination-border-color;
    }

    button:first-child {
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
    }
  }
}
