td.gridjs {
  &-td {
    border: var(--obo-grid-border-width) solid var(--bs-light);
    padding: 12px 24px;
    background-color: transparent;
    box-sizing: content-box;
  }

  &-td:first-child {
    border-left: none;
  }

  &-td:last-child {
    border-right: none;
  }

  &-message {
    text-align: center;
  }
}
