@import 'colors';

.gridjs {
  &-tr {
    border: none;

    &-selected td {
      color: var(--bs-primary);
    }
  }

  &-tr:last-child td {
    border-bottom: 0;
  }
  &-tr:hover td{
    background-color: $gray1;
    cursor:pointer
  }
}
