@import 'colors';

.gridjs {
  &-wrapper {
    position: relative;
    z-index: 1;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    border-radius: var(--obo-grid-border-radius) var(--obo-grid-border-radius) 0 0;
    display: block;

    border-top-width: var(--obo-grid-border-width);
    border-color: var(--bs-light);
  }

  &-wrapper:last-of-type {
    border-radius: var(--obo-grid-border-radius);
    border-bottom-width: var(--obo-grid-border-width);
  }
}
