/* DRWR */
.drwr
{
    transition: $drwr-transition;
    height:100vh;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:-1;
    overflow:scroll;
    background:rgba($dark,0);
}
.drwr.open
{
    display:block;
    z-index:2000;
    background:rgba($dark,0.3);
}
.drwr .drwr-content
{
    position:absolute;
    max-width: 100%;
    height:100%;
    padding: $drwr-padding;
    background: $drwr-background;
    box-shadow: $drwr-shadow;
    overflow:scroll;
    transition: $drwr-transition;
}
.drwr.right .drwr-content
{
    right:-100%;
}
.drwr.left .drwr-content
{
    left:-100%;
}
.drwr.right.open .drwr-content
{
    right:0px;
}
.drwr.left.open .drwr-content
{
    left:0px;
}