//Button square
.btn-icon{
	padding:var(--bs-btn-padding-y) var(--bs-btn-padding-y);
	line-height: 1;
	&:focus{
		box-shadow: none !important;
	}
  &::before{
    font-size: 24px;
  }
}
.btn-icon-lg
{
  padding:var(--bs-btn-padding-y) var(--bs-btn-padding-y);
  line-height: 1;
  &::before{
    font-size: 32px;
  }
}
.btn-icon-sm
{
  padding:var(--bs-btn-padding-y) var(--bs-btn-padding-y);
  line-height: 1;
  &::before{
    font-size: 16px;
  }
}

//Button icon text
.btn-icon-text{
  padding:var(--bs-btn-padding-y) calc(var(--bs-btn-padding-y) * 1.5);
  display:inline-flex;
  gap:6px;
  align-items: center;
  &:focus{
    box-shadow: none !important;
  }
}

@each $color, $value in $theme-colors {
  .btn-hover-#{$color} {
    @include button-hover-variant($value);
  }
}

@if $enable-scaled-button{
  .btn{
    transition: $btn-active-scale-transition;
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      transform: scale($btn-active-scale);
    }
  }

  .btn-group-vertical .btn:active,
  .btn-group .btn,
  .unscaled{
    transform: none !important;
  }
}