@each $color, $value in $theme-colors {
  .form-switch
  {
    .form-check-#{$color} {
      background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{rgba($value, 0.25)}'/></svg>"));
      border-color: rgba($value, 0.5);
      
      &:checked
      {
        border-color: $value;
        background-color: $value;
        background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$white}'/></svg>"));
        &:focus
        {
          background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$white}'/></svg>"));
        }
      }
      &:focus
      {
        background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{rgba($value, 0.5)}'/></svg>"));
        border-color: $value;
        box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width rgba($value, 0.25);
      }
    }
  }
}

.form-switch.ioswitch
{
  .form-check-input {
    border-color: transparent;
    background-color: $danger;
    background-image: escape-svg($form-switch-checked-bg-image);
    &:checked
    {
      background-color: $success;
      background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><rect x='-1' y='-3' width='2' height='6' rx='1' fill='#{$form-switch-checked-color}'/></svg>"));
      &:focus
      {
        box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width rgba($success, 0.25);
        background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><rect x='-1' y='-3' width='2' height='6' rx='1' fill='#{$form-switch-checked-color}'/></svg>"));
      }
    }
    &:focus
    {
      box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width rgba($danger, 0.25);
      background-image: escape-svg($form-switch-checked-bg-image);
    }

  }
}
