// Override default dropdown from Bootstrap 5

.dropdown-item{
	border-radius:$border-radius;
}
// Remove carret
.dropsans .dropdown-toggle:after { content: none }

// Dropdown item by colors
@each $color, $value in $theme-colors {
	.dropdown-menu .dropdown-item-#{$color} {
		color:$value;
		&:active{
			color:$white;
			background-color:$value;
			outline:0;
		}
		&:hover{
			outline:0;
		}
		&:focus{
			outline:0;
		} 
    }
}