// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white:    #FFFFFF !default;
$gray-100: #F8FAFC !default;
$gray-200: #F3F8FF !default;
$gray-300: #E4EBF7 !default;
$gray-400: #BFC7d8 !default;
$gray-500: #96A4BD !default;
$gray-600: #6A819D !default;
$gray-700: #506680 !default;
$gray-800: #223A56 !default;
$gray-900: #16162D !default;
$black:    #30353A !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue:    #2d3f91 !default;
$indigo:  #470FF4 !default;
$purple:  #6450FF !default;
$pink:    #E83E8C !default;
$red:     #F14160 !default;
$orange:  #FF7364 !default;
$yellow:  #FFB646 !default;
$green:   #00AA79 !default;
$teal:    #319795 !default;
$cyan:    #00B5D8 !default;
// scss-docs-end color-variables

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   2 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $orange !default;
$success:       $green !default;
$info:          $purple !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-300 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                true !default;
$enable-rounded:              true !default;
$enable-shadows:              true !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-container-classes:    true !default;
$enable-cssgrid:              false !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  false !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

// Prefix for :root CSS variables

$variable-prefix:             bs- !default;
$prefix:                      $variable-prefix !default;

//  CUSTOM
// Start Shadows
$shadow1: 0 1px 3px rgba($dark,0.12), 0 1px 2px rgba($dark,0.24) !default;
$shadow2: 0 3px 6px rgba($dark,0.16), 0 3px 6px rgba($dark,0.23) !default;
$shadow3: 0 10px 20px rgba($dark,0.19), 0 6px 6px rgba($dark,0.23) !default;
$shadow4: 0 14px 28px rgba($dark,0.25), 0 10px 10px rgba($dark,0.22) !default;
$shadow5: 0 19px 38px rgba($dark,0.30), 0 15px 12px rgba($dark,0.22) !default;

$shadows: () !default;

$shadows: map-merge(
  (
    "shadow1":       $shadow1,
    "shadow2":       $shadow2,
    "shadow3":       $shadow3,
    "shadow4":       $shadow4,
    "shadow5":       $shadow5,
  ),
  $shadows
);
// End Shadows

$enable-scaled-button:        true !default;
$btn-active-scale:            0.96;
$btn-active-scale-transition: scale 2.3s ease;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1.618033rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null) !default;
// scss-docs-end spacer-variables-maps

// 
// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $black !default;
$body-text-align:           null !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1.618033rem !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           32px !default;
$grid-row-columns:            6 !default;

// Container padding

$container-padding-x: $grid-gutter-width !default;

// scss-docs-start box-shadow-variables
$box-shadow:                  0 3px 6px rgba($dark,0.16), 0 3px 6px rgba($dark,0.23) !default;
$box-shadow-sm:               0 1px 3px rgba($dark,0.12), 0 1px 2px rgba($dark,0.24) !default;;
$box-shadow-lg:               0 10px 20px rgba($dark,0.19), 0 6px 6px rgba($dark,0.23) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;
// scss-docs-end box-shadow-variables

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Inter', "Avenir Next", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$font-family-heading:         "Metropolis", "Inter", "Avenir Next", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !default;
$font-family-code:            var(--#{$variable-prefix}font-monospace) !default;
// stylelint-enable value-keyword-case

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.618033 !default;

$line-height-base:            1.618033 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

// scss-docs-end font-variables


// scss-docs-start headings-variables
$headings-font-family:        $font-family-heading !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.618033 !default;
// scss-docs-end headings-variables

// scss-docs-start type-variables
$small-font-size:             .80em !default;
// scss-docs-end type-variables


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y:         .5rem !default;
$input-btn-padding-x:         1rem !default;
// scss-docs-end input-btn-variables


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-box-shadow:              unset;//inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             0;//$input-btn-focus-width !default;
$btn-focus-box-shadow:        unset;//$input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       unset;//inset 0 3px 5px rgba($black, .125) !default;
// scss-docs-end btn-variables


// Forms

// scss-docs-start form-check-variables
$form-check-input-width:                  1.2em !default;
$form-check-min-height:                   1.2em !default;
$form-check-padding-start:                $form-check-input-width + .5em !default;

$form-check-transition:                   all .3s cubic-bezier(.4,0,.15,1.5), background-size .5s cubic-bezier(.4,0,.1,2) !default;

// scss-docs-end form-check-variables

// scss-docs-start form-switch-variables
$form-switch-color:               $gray-400 !default;
$form-switch-width:               2.2em !default;

$form-switch-transition:          background-position .4s cubic-bezier(.4,0,.1,1.5), border .4s ease-in-out !default;
// scss-docs-end form-switch-variables

// Navs

// scss-docs-start nav-variables
$nav-link-color:                    null !default;
$nav-link-hover-color:              null !default;
// scss-docs-end nav-variables


// Navbar

// scss-docs-start navbar-variables
$navbar-padding-y:                  $spacer * .5 !default;
$navbar-padding-x:                  $spacer !default;

$navbar-nav-link-padding-x:         1.5rem !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$navbar-light-color:                $black !default;
$navbar-light-hover-color:          $primary !default;
$navbar-light-active-color:         $dark !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;
$navbar-light-brand-color:          $navbar-light-active-color !default;
$navbar-light-brand-hover-color:    $navbar-light-active-color !default;
// scss-docs-end navbar-variables

// Dropdowns
//
// Dropdown menu container and contents.

// scss-docs-start dropdown-variables
$dropdown-min-width:                10rem !default;
$dropdown-padding-x:                .5rem !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-font-size:                $font-size-base !default;
$dropdown-color:                    $body-color !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             var(--#{$prefix}border-color-translucent) !default;
$dropdown-divider-bg:               $light !default;
$dropdown-divider-margin-y:         $spacer * .5 !default;
$dropdown-box-shadow:               $shadow3;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         $primary !default;
$dropdown-link-hover-bg:            $light !default;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           .75rem !default;
// scss-docs-end dropdown-variables

// Pagination

// scss-docs-start pagination-variables
$pagination-padding-y:              .25rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;

$pagination-border-color:           $light !default;
// scss-docs-end pagination-variables

// Cards

// scss-docs-start card-variables
$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1.25rem !default;
$card-title-spacer-y:               $spacer * .5 !default;
$card-box-shadow:                   null !default;
$card-cap-padding-y:                $card-spacer-y !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;
$card-img-overlay-padding:          1.25rem !default;
$card-group-margin:                 $grid-gutter-width * .5 !default;
// scss-docs-end card-variables

// Badges

// scss-docs-start badge-variables
$badge-padding-y:                   .5em !default;
$badge-padding-x:                   .8em !default;
// scss-docs-end badge-variables

// Alerts
//
// Define alert colors, border radius, and padding.

// scss-docs-start alert-variables
$alert-padding-y:               $spacer * .5 !default;
// scss-docs-end alert-variables