@font-face {
  font-family: 'sf-icons';
  src: url('../fonts/sf/sf-icons.eot?60364878');
  src: url('../fonts/sf/sf-icons.eot?60364878#iefix') format('embedded-opentype'),
       url('../fonts/sf/sf-icons.woff2?60364878') format('woff2'),
       url('../fonts/sf/sf-icons.woff?60364878') format('woff'),
       url('../fonts/sf/sf-icons.ttf?60364878') format('truetype'),
       url('../fonts/sf/sf-icons.svg?60364878#sf-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}